[submodule "sawyer_kinematics"]
	path = sawyer_kinematics
	url = https://github.com/piraka9011/sawyer_kinematics.git
[submodule "dialogflow_ros"]
	path = dialogflow_ros
	url = https://github.com/piraka9011/dialogflow_ros
[submodule "dialogflow_ros"]
	path = darknet_ros
	url = https://github.com/leggedrobotics/darknet_ros
[submodule "robot_utils"]
	path = robot_utils
	url = https://github.com/piraka9011/robot_utils.git
