<launch>
	<arg name="debug" default="true"/>
	<arg name="image_topic" default="/camera/color/image_raw"/>
	<arg name="camera_topic" default="/camera/color/image_raw"/>
    <arg name="yolo_input_topic" default="/ibvs/perception/yolo_input"/>
    <arg name="yolo_target_topic" default="/ibvs/perception/yolo_target"/>
    <arg name="bounding_box" default="/ibvs/perception/bounding_box"/>

	<!-- Speech -->
	<group if="$(arg debug)">
		<include file="$(find dialogflow_ros)/launch/dialogflow.launch"/>
	</group>
	<group unless="$(arg debug)">
		<include file="$(find dialogflow_ros)/launch/hotword_df.launch"/>
	</group>

	<!-- Perception -->
	<include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/>
	<include file="$(find ibvs_perception)/launch/ibvs_object_detection.launch">
		<arg name="camera_topic" value="$(arg camera_topic)"/>
		<arg name="yolo_input_topic" value="$(arg yolo_input_topic)"/>
		<arg name="yolo_target_topic" value="$(arg yolo_target_topic)"/>
		<arg name="bounding_box" value="$(arg bounding_box)"/>
	</include>
	<!-- Recognition -->
	<node name="cap_integration" pkg="cap_integration" type="state_machines.py" output="screen"/>

</launch>